* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-wrap: wrap;
	background: #d1c8ff;
}

ul {
	display: flex;
	list-style-type: none;
	text-decoration: none;
}

.images-container {
	display: flex;
	margin: 50px auto;
}

.card-img {
	width: 60px;
	height: 48px;
	margin-left: 4px;
	border-radius: 3px;

}

.card-img-filter {
	filter: grayscale(100%);
	opacity: 0.5;
}

.container-message {
	width: 200px;
	height: 50px;
}

/*.validate-form {}*/

.input-card-number {
	width: 300px;
	height: 40px;
	border: none;
	border-radius: 3px;
	padding-left: 5px;
}

.modal {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: -1000;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow-y: scroll;
	padding: 60px 15px;
}

.modal-active{
	position: fixed;
	top:0;
	visibility: visible;
	opacity: 1;
	transition: .3s;
	
}

.modal__content {
	width: 100%;
	max-width: 500px;
	padding: 50px;
	background: #f9f9f9;
	border-radius: 3px;
	position: relative;
	box-shadow: 0 5px 15px black;
}

.modal-close__btn {
	width: 32px;
	height: 32px;
	position: fixed;
 	top: 15px;
	right: 15px;
	bottom: 0;
	left: 0;
	background-image: url('../images/close-img.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	cursor: pointer;
	transition: .3s;
}

.modal-close__btn:hover {
	transition: .3s;
	transform: rotate(180deg);
}


.modal__description {
	font-size: 1.8rem;
	margin: 0 0 15px;
}

.validate-button {
	width: 200px;
	height: 40px;
	color: #000;
	border-radius: 3px;
	background-color: aquamarine;
	cursor: pointer;
}

.validate-button:focus {
	outline: 0px;
}